@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    outline: none;
    border: transparent;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    display: flex;
    flex-direction: column;
}
.title{
    @include font($colorBlue, 60px, bold, $font_gera, 1.4);
    letter-spacing: 0.05em;
}
.description{
    @include font($colorBlue, 25px, normal, $font_robo, 1.2);
    margin: 34px 0 82px;
}
